*{
    border-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 125vh;

}

main{
    height: 100%;
    width: 100%;
    border: 5px solid black;
    
}

section{
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 5px solid white;
}

.art0 {
    display: flex;
    justify-content: center;
    background-color: black;
    font-size: larger;
    color: white;
    height: 15%;
}

.art1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
    height: 50%;
    margin-top: 5px;
    z-index: 1;
    font-size: large;
}
.art1div{
    margin-bottom: 15px;
}

.inputs{
    height: 100%;
    width: 15em;
}
.btn{
    height: 50px;
    width: 11em;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background-color:rgb(149, 146, 145);
    font-weight: bold;
    font-size: larger;
    z-index: 2;
    cursor: pointer;
    margin-top: 10px;
}


.art2{
    display: flex;
    justify-content: center;
    flex-direction:row;
    background-color: black;
    height: 30.5%;
    padding: 0px 25px 10px 25px;

}   

.contenedor{
    background-color:black;
    display:flex;
    flex-direction: row;
    width:95%;
    padding: 20px;
    background-color: rgb(229, 231, 233);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    font-weight: bold;
}
.conteInter{
    display: flex;
    flex-direction:column;
    width: 25%;
    height:100%;
    font-size: x-large;
    padding-left: 15px;
    
    
}

.conteInter #conteInter2{
    display: flex;
    width: 50%;
    
}

.conteInter #conteInter3{
    display: flex;
    width: 50%;
}

.subInter{
    display: flex;
    flex-direction:column;
    font-size: large;
    justify-content: left;
    text-align: left;
}

.resultados{
    background-color: rgb(229, 231, 233);
    border: 0px;
    height: 25%;
    width: 100%;
    font-weight: bold;
    font-size: large;
    outline: none;
    
}